<div class="custom-input">
    <input type="{{type}}" name="{{inputName}}" placeholder="{{placeholder}}" id="{{id}}" required>
    <label for="{{id}}" class="custom-input__label">{{placeholder}}</label>
    <div class="custom-input__error">{{errorMessage}}</div>
</div>
